/* =============
    Checkout
============= */
    .cart{
        
        hr{
        display: felx;
        }
        
        .background{
            background-image: url('../img/thank-you-background.png');
            background-size: cover;
            background-repeat: no-repeat;
            height: 650px;
            
            
        }

        .content{
            grid-area:content;
            background-color: white;
            padding-left: 16px;
            border-radius: 20px;
            h2{
            font-size: 24px;
            
            
            }

            p{
                font-size: 16px;
                
            }
        
        }
        
        .container{
            display:grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas:
            ". content ."
            ;
            margin-bottom: 16px;
            
        }
        
        .order-details{

            background-color: white;
            margin-left: 16px;
            margin-right: 16px;
            border-radius: 20px;
            

            hr{
                display: flex;
            }

            .orders{
            grid-area: orders;
            }

            .cost{
                grid-area: cost;
                text-align: right;
                padding-right: 16px;
                padding-top: 65px;
            
                p{
                    font-size: 16px;
                    padding-bottom: 1.5px;
                    padding-right: 8px;
                    
                }

                
                h4{
                    padding-top: 10px;
                    padding-right: 8px;
                }
                
            }

            
            display: grid;
            grid-template-columns: 80% 20% ;
            grid-template-areas: " orders cost ";
        
        }
    }


    .checkout{
        
        margin-right: -32px;
        margin-top: 150px;

        .pay{
            margin-top: 16px;
            .content{
                grid-area:content;
                background-color: white;
                border-radius: 20px;
                padding-bottom: 50px;
                
                
                

                img{
                    padding-top: 16px;
                    padding-left: 55px;
                    margin-bottom: 50px;
                    
                }

                a{
                    color: $white;
                    background-color: $black;
                    padding-left: 65px;
                    padding-right: 65px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    align-self: center;
                    text-decoration: none;
                    font-size: 16px;
                    margin-bottom: 15px;
                    border-radius: 20px;
                    margin-left: 50px;
                    font-family: 'Open Sans', sans-serif;
                    
                }
            }

            .container{
                
                display:grid;
                grid-template-columns: 16px auto 16px;
                grid-template-areas:
                ". content ."
                ;
                margin-bottom: 16px;
                
            }

            
        }

        .shipping{
            
            

            

            .content{
                grid-area:content;
                margin-left: 16px;
                border-radius: 20px;
                background-color: white;
                padding-left: 32px;
                padding-right: 32px;
                padding-bottom: 40px;

                h2{
                    font-size: 32px; 
                    
                }

                form{
                   margin-top: 70px;
                   margin-bottom: 50px;
                   
                   
                   input{
                      width: 535px;
                      height: 30px;
                      
                      
                   }
                }

                ::placeholder { /* Microsoft Edge*/
                    color: $black;
                    
                 }


            }

            .container{

                display:grid;
                grid-template-columns: 2px auto 16px;
                grid-template-areas:
                ". content ."
                ;
                margin-bottom: 16px;
                
            }
        }

        .reviews-checkout{
            
            .content{
               background-color: white;
               border-radius: 20px;
               grid-area:content;
               margin-bottom: 40px;

               padding-right: 50px;

            }

            .container{
                display:grid;
                grid-template-columns: 16px auto 16px;
                grid-template-areas:
                ". content ."
                ;
            }
            
        }

        .button-submit{
            
            .button{
               
                .content{
                    grid-area:content;
                    margin-bottom: 120px;

                    
                    a{
                        color: $black;
                        background-color: $gold;
                        padding-left: 265px;
                        padding-right: 265px;
                        padding-top: 20px;
                        padding-bottom: 20px;
                        align-self: center;
                        text-decoration: none;
                        font-size: 24px;
                        margin-bottom: 15px;
                        border-radius: 20px;
                        margin-top: 16px;
                        
                        font-family: 'Open Sans', sans-serif;
                        
                    }
                    
     
                }

                .container{
                    display:grid;
                    grid-template-columns:16px auto 16px;
                    grid-template-areas:
                    ". content ."
                    ;
                }
            }
        }
    }