/* =============
    Checkout
============= */
    
    .checkout{
        
        @include lg{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-areas: 
            "cart cart shipping"
            "pay pay reviews-checkout"
            "button button button"
            ;


        }
        
        padding-top: 150px;



        .cart-checkout{
        
            grid-area: cart;
            
    
            .content{
                grid-area:content;
                background-color: white;
                padding-left: 16px;
                border-radius: 20px;
                h2{
                font-size: 24px;
                
                
                }
    
                p{
                    font-size: 16px;
                    
                }
            
            }
            
            .container{
                display:grid;
                grid-template-columns: 16px auto 16px;
                grid-template-areas:
                ". content ."
                ;
                margin-bottom: 16px;
                
            }
            
            .order-details{
                
                background-color: white;
                margin-left: 16px;
                margin-right: 16px;
                border-radius: 20px;
                @include lg{
                    padding-top: 50px;
                    padding-bottom: 120px;
                    padding-right: 20px;
                }
                padding-top: 50px;
                padding-bottom: 100px;
                padding-right: 20px;
    
                hr{
                    display: flex;
                }
    
                .orders{
                 grid-area: orders;
                }
    
                .cost{
                    grid-area: cost;
                    text-align: right;
                    padding-right: 16px;
                    padding-top: 65px;
                
                    p{
                        font-size: 16px;
                        padding-bottom: 1.5px;
                        padding-right: 8px;
                        
                    }
    
                    
                    h4{
                        padding-top: 10px;
                        padding-right: 8px;
                    }
                    
                }
    
                
                display: grid;
                grid-template-columns: 80% 20% ;
                grid-template-areas: " orders cost ";
            
            }
        }

        .pay{
            grid-area: pay;
            margin-top: 16px;
            .content{
                @include lg{
                    padding-top: 20px;
                    margin-top: -16px;
                    
                }
                grid-area:content;
                background-color: white;
                border-radius: 20px;
                padding-bottom: 65px;
                
                
                

                img{
                    padding-top: 16px;
                    padding-left: 55px;
                    margin-bottom: 50px;
                    
                }

                a{
                    color: $white;
                    background-color: $black;
                    padding-left: 65px;
                    padding-right: 65px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    align-self: center;
                    text-decoration: none;
                    font-size: 16px;
                    margin-bottom: 15px;
                    border-radius: 20px;
                    margin-left: 50px;
                    font-family: 'Open Sans', sans-serif;
                    
                }
            }

            .container{
                
                display:grid;
                grid-template-columns: 16px auto 16px;
                grid-template-areas:
                ". content ."
                ;
                margin-bottom: 16px;
                
            }

            
        }

        .shipping{
            
            grid-area: shipping;

            

            .content{
                grid-area:content;
                
                
                border-radius: 20px;
                background-color: white;
                padding-left: 32px;
                padding-right: 32px;
                padding-bottom: 40px;

                

                h2{
                    font-size: 32px; 
                    
                }

                form{
                   margin-top: 70px;
                   margin-bottom: 50px;
                   
                   
                   input{
                      width: 535px;
                      height: 30px;
                      
                      
                   }
                }

                ::placeholder { /* Microsoft Edge*/
                    color: $black;
                    
                 }


            }

            .container{

                display:grid;
                grid-template-columns: 16px auto 16px;
                grid-template-areas:
                ". content ."
                ;
                margin-bottom: 16px;
                
            }
        }

        .reviews-checkout{
            grid-area: reviews-checkout;
            .content{
               
               background-color: white;
               border-radius: 20px;
               grid-area:content;
               margin-bottom: 40px;

               padding-right: 50px;

            }

            .container{
                display:grid;
                grid-template-columns: 16px auto 16px;
                grid-template-areas:
                ". content ."
                ;
            }
            
        }

        .button-submit{
            grid-area: button;
            .button{
               
                .content{
                    grid-area:content;
                    margin-bottom: 120px;

                    
                    a{
                        color: $black;
                        background-color: $gold;
                        padding: 20px;
                        align-self: center;
                        text-decoration: none;
                        font-size: 24px;
                        margin-bottom: 15px;
                        border-radius: 20px;
                        margin-top: 16px;
                        display: flex;
                        margin: auto;
                        justify-content: center;
                        font-family: 'Open Sans', sans-serif;

                        
                    }
                    
     
                }

                .container{
                    display:grid;
                    grid-template-columns:16px auto 16px;
                    grid-template-areas:
                    ". content ."
                    ;
                }
            }
        }
    }