/* =============
    Typography
============= */

.reviews{
   
    
    font-family: 'Open Sans', sans-serif;

    .background{
        background-image: url('../img/reviews-background-image.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 650px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .container{
        display:grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas:
        ". content ."
        ;
       
        
    }

    .content{
        grid-area:content; 
        padding-top: 20PX; 
        padding-right: 20px;
        

        a{
            color: black;
            background-color: $gold;
            padding-left: 32px;
            padding-right: 32px;
            padding-top: 5px;
            padding-bottom: 5px;
            text-decoration: none;
            font-size: 16px;
            margin-bottom: 15px;
            border-radius: 20px;
            margin-top: 20px;
            align-self: center;
            
        }

        form{
            
            display: grid;
            height: 150px;
            margin-bottom: 20px;
            
            
            input{
                border-radius: 20px;
            }
            

        }

        img{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        h2{
            background-color: $light-gray;
            color: $white;
            font-size: 30px;
            padding-top: 0.5px;
            padding-bottom: 0.5px;
            margin-left: -17px;
            
            padding-left: 10px;
            font-family: 'Orienta', sans-serif;
        }
        
        h3{
            font-family: 'Open Sans', sans-serif;
            font-size: 30px;
            
        }
        
        
    }
    
    .leave-a-review{
        background-color: white;
        padding-bottom: 15px;
        margin-top: 15px;
        
        
       
        .ratings{
            grid-area: ratings;
        }

        .review-image{
            grid-area: review;
        }

        @include xl{
          display: grid;
          grid-template-columns: 40% 60%;
          grid-template-areas: " ratings review ";
          width: 80%;

        }
        
    }

   

}