/* =============
    Footer
============= */

footer{
   
    .container{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        ". content ."
        ;
    }
    
    
    
       
    .content{
        grid-area:content;  
    }

    ul{
           
        li{
            display: inline-block;

            padding-right: 8px;
            color: black;
            
           
            
         }
     }

    
    
}